/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: blanchedalmond;
    color: #000000;
    line-height: 1.6;
}

.navbar {
    background-color: #080808; 
    padding: 15px 0;
    text-align: center;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: #ffffff;
    color: #000;
    border-radius: 5px;
}

.header {
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    color: #555;
}

section {
    padding: 50px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

section h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #000;
}

section p {
    font-size: 18px;
    margin-bottom: 10px;
}

section li {
    font-size: 16px;
    margin-bottom: 10px;
}

#work ul {
    list-style: disc;
    margin-left: 0px;
    display: inline-block;
    text-align: left;
}

audio {
    display: block;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    border: 1px solid #000;
    text-align: center;
}

th {
    background-color: #000;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    gap: 5px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    margin: 0 50px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

hr {
    margin: 30px 0;
    border: 1px solid #ccc;
}